* {
  margin: 0;
  box-sizing: border-box;
  background-color: #d5e1ef;
}

.box {
  width: 320px;
  height: 497px;
  background-color: white;
  border-radius: 20px;
  justify-self: center;
  margin-top: 70px;
  padding-top: 18px;
}

.frame_1 {
  width: 288px;
  height: 288px;
  background-color: #2c7dfa;
  justify-self: center;
  align-content: center;
  border-radius: 10px;
}
.qr_code {
  width: 160px;
  height: 160px;
  justify-self: center;
}

.text_1 {
  background-color: white;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
  padding-top: 20px;
  font-style: bold;
}
.text_2 {
  background-color: white;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  text-align: center;

  padding-top: 20px;
  font-style: bold;
  color: #7d889e;
}
/* .frame_2 {
  width: 287px;
  height: 191px;
  justify-self: center;
  align-content: center;
  background-color: white;
} */
