* {
  margin: 0;
  box-sizing: border-box;
  background-color: #d5e1ef;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.white_box {
  width: 320px;
  height: 497px;
  background-color: white;
  border-radius: 20px;
  padding-top: 17px;
}

.blue_box {
  width: 288px;
  height: 288px;
  background-color: #2c7dfa;
  justify-self: center;
  align-content: center;
  border-radius: 10px;
}
.qr_code {
  width: 160px;
  height: 160px;
  justify-self: center;
}

.text_1 {
  background-color: white;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
  padding: 22px 23px 12px 28px;
}
.text_2 {
  background-color: white;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  padding: 3px 45px 0px 50px;
  color: #7d889e;
}
